body {
        font-family: "Roboto", sans-serif;
        background-color: #EEF9BF;
}

.gameTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 56px;
        font-weight: 700;
        color: #75B79E;
        margin-top: 40px;
        margin-bottom: 40px;
}

.cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 8%;
}

.card {
        width: 117px;
        height: 146px;
        position: relative;
        margin: 2%;

}

.front-face img {
        width: 85%;
}

.face {
        width: 100%;
        height: 100%;
        background-color: #A7E9AF;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
}

.back-face {
        transform: rotateY(180deg);
}

.back-face img{
        width: 70%;
}

.back-face-flip {
        transform: rotateY(0deg);
}

.front-face-flip {
        transform: rotateY(-180deg);
}

.locked{
        pointer-events: none;
}

/* -----------------------MEDIA QUERY---------------------- */

@media (max-width: 614px ){
        .gameTitle{
                font-size: 36px;
        }
}